<h1>Hi <%= session[:player_name].capitalize%>, Welcome to BlackJack </h1>
<br/>

<% if @play_again == true %>

<p>Would you like to play another game ?</p>
<form id="yes" action="/" >
	<input type="submit" class="btn btn-success " value="Yes" />
</form>
	<form id="no" action="/game_over" >
	<input type="submit" class="btn btn-warning " value="No" />
</form>
<% end %>


<div class="well">
<h3>Dealer's Cards</h3>
<br/>
<% if @show_cards_dealer == true %>
<% session[:dealer_cards].each do |card| %>
<%= show_card(card) %>
<%end%>
<% else %>
<% session[:dealer_cards].each_with_index do |card, index| %>
<% if index == 0 %>
 <img class="img_cards" src ="/images/cards/cover.jpg" />
<% else%>
<%= show_card(card)%>
		<%end%>
		<%end%>

<%end%>
<% if @show_dealer_score == true%>
<p>
<h4>Dealer Score is <%= calc_total(session[:dealer_cards])%></h4>
</p>
<% end %>
<% if @show_dealer_hit == true %>
<div>
	<p>
<form action="/dealer/hit" method="post">
	<input type="submit" class="btn btn-primary " value="Deal a card for the dealer &rarr;" />
</form>
</p>
</div>
<% end %>

<br/>
</div>
<div class="well">
<h3><%= session[:player_name].capitalize%>'s Cards</h3>
<br/>
<% session[:player_cards].each do |card| %>
<%= show_card(card) %>
<%end%>
<br />
<h4><%= session[:player_name].capitalize%> your score is: <%= calc_total(session[:player_cards])%></h4>
</div>
<% if @show_hit_stay == true %>
<h3>What would you like to do?</h3>
<form id ="hit_form" action="/game/player/hit" method="post">
	<input type="submit" class="btn btn-success" value="Hit" />
</form>
<form id="post_form" action="/game/player/stay" method="post">
	<input type="submit" class="btn btn-warning" value="Stay" />
</form>
<%end%>
